@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Events</h1>
    <p class="lead">לוח האירועים שלך</p>
</div>

<div class="row">

@if (!Request.IsAuthenticated)
{
    <div class="col-md-4">
        <h2>תרומת כסף</h2>
        <p>
            שיטת המצליח. תרמת - הצלחנו :)
        </p>
        <p><a class="btn btn-default" href="/Account/Register">לתרומה &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>שתף את החברים</h2>
        <p>במקום לשלוח לכל החברים ולקוות ששירותי הדואר יעבירו את המכתב בזמן בלי שילך לאיבוד, פשוט שתף את האירוע באימייל. תחסוך בנייר, תציל עץ.</p>
        <p><a class="btn btn-default" href="/Account/Register">להרשמה &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>לא לשכוח</h2>
        <p>לוח האירועים שלך יזכיר לך שבוע לפני המועד על האירוע שקבעת כך שלא תצטרך לישון על הספה כי שוב שכחת על יום ההולדת של אישתך.</p>
        <p><a class="btn btn-default" href="/Account/Register">להרשמה &raquo;</a></p>
    </div>
}
</div>